* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}


body {
  background-color: #E7F0DC;
}

.dark-green {
  background-color: #436850;
  width: 790px;
  height: 740px;
  position: absolute;
  z-index: -1;
  border-radius: 0% 100% 75% 25% / 100% 0% 100% 0%;
  animation-name: slideinRight;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
    animation-delay:0s;
    animation-iteration-count: 1;
}

@keyframes slideinRight {
  from {
    opacity: 0.2;
    transform: translateX(-300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sigin-separation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-top: 13%; 
}

.signin-description {
  max-width: 600px;
  margin-left: 5%;
  margin-top: -25%;
}

.signin-title {
  color: #FFFFFF;
  font-size: 65px;
  margin-bottom: 10px;
  animation-name: slideinRighttext;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinRighttext {
  from {
    opacity: 0.2;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sigin-desc {
  color: #FFFFFF;
  font-weight: 450;
  font-size: 18px;
  animation-name: slideinRighttext1;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinRighttext1 {
  from {
    opacity: 0.2;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.signin-description1 {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 10px;
  animation-name: slideinLeft;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinLeft {
  from {
    opacity: 0.2;
    transform: translateX(250px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  color: #436850;
  font-size: 40px;
  margin-bottom: 40px;
}

.signin-description1 input {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    padding-left: 20px; 
    margin-bottom: 20px;
    background-color: #b7c0af;
    font-weight: 500; 
}

button {
  color: #E7F0DC;
  background-color: #436850;
  width: 100%;
  border-radius: 50px;
  height: 50px;
  font-weight: 600;
  border: none;
  transition: 0.15s ease-in-out background-color, 
  0.15s ease-in-out color, 
  0.15s ease-in-out box-shadow;
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #E7F0DC;
  color: #436850;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

button:active {
  opacity: 0.7;
} 

.sigin-vectorpng {
  width: 450px;
  margin-left: 250px;
  margin-top: -200px;
  animation-name: slideinRight;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
  
}

.signin-images {
  width: 70px;
  margin-left: 12px;
}

.ccs-logo {
  width: 10px;
  margin-left: 12px;
}

hr {
  margin-bottom: 10px;
  margin-top: -10px;
  width: 100%;
}